// here goes my variables / maps
$colors: (
    "primary-color": #fff,
    "secondary-color": #dc3545,
);

$text-size: (
    "main-text": 0.75em,
    "main-title": 1.2em,
    "secondary-title": 0.9em
);

$tablet: 900px;
$desktop: 1024px;

// here goes my funtion
@function color($color) {
    @return map-get($colors, $color)
};

@function text($text) {
    @return map-get($text-size, $text)
};

// here goes my mixins
@mixin box {
    border: 1px solid black;
}

@mixin sectionTitle {
    color: color(secondary-color);
    font-size: text(main-title);
    margin: 3em;
    text-align: center;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
}

// media queries
@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
};
  
@mixin desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }