// here goes my variables / maps
$colors: (
    "primary-color": #fff,
    "secondary-color": #dc3545,
    "mainText-color" :black,
    "facebook-color":  #4169e1,
    "github-color": rgb(36, 41, 46)

);

$text-size: (
    "main-text": 1em,
    "small-text": 0.8em,
    "main-title": 1.4em,
    "secondary-title": 1.2em
);

$tablet: 768px;
$desktop: 1024px;

// here goes my funtion
@function color($color) {
    @return map-get($colors, $color)
};

@function text($text) {
    @return map-get($text-size, $text)
};

@function s($scale) {
    @return $scale *16px
};

// here goes my mixins
@mixin box {
    border: 1px solid black;
}

@mixin sectionTitle {
    color: color(secondary-color);
    font-size: text(main-title);
    margin-bottom: s(3);
    text-align: center;
}

@mixin marginSection {
    margin-bottom: s(3);
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
}

@mixin position-fixed {
    position: fixed;
}

@mixin mainButton {
    width: 100%;
    height: s(2);
    font-size: 1em;
    padding: 0;
    margin: 0;
    border-top-right-radius:s(0.625) ;
    border-bottom-left-radius:s(0.625) ;
    color: color(primary-color);
    background: linear-gradient(to right, color(secondary-color)90%, white 99%);
    cursor: pointer;
}

// media queries
@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
};
  
@mixin desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }


//   adding classes

// position
.position-relative {
    position: relative;
};

.postion-absolute {
    position: absolute;
}

.position-tb-0 {
    top: 0;
    bottom: 0;
};

.position-bottom-0 {
    bottom: 0;
};

// fonts

.f-w-600 {
    font-weight: 600;
}

.fz-main-title {
    font-size: text(main-title);
}

.fz-secondary-title {
    font-size: text(secondary-title);
}

.text-align {
    text-align: center;
}

// button
.main-button {
    @include mainButton;
}


// margin and padding
.marginSection {
    @include marginSection
}

.m-t-1 {
    margin-top: s(1);
}

.m-t-2 {
    margin-top: s(2);
}

.m-t-3 {
    margin-top: s(3);
}


.m-b-1 {
    margin-bottom: s(1);
}

.m-b-2 {
    margin-bottom: s(2);
}

.m-b-3 {
    margin-bottom: s(3);
}

.m-nav {
    margin-top: s(7.375);
}


// text colors
.t-primary-color {
    color: color(primary-color);
}

.t-secondary-color {
color: color(secondary-color);
}

.t-mainText-color {
    color: color(mainText-color);
}

// flexBox
.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}