footer {

    a {
        // display: inline-block;
    }

    a:hover {
        color:color(secondary-color);
        text-decoration: underline;
    }
}

.footer-1 {
    background-color: black;
}

.footer-1_top {
        padding: s(3) s(1) 0 s(1);
    
        ol {
        border-top: 2px solid;
        border-bottom: 2px solid;
        
        .map {
            border: 2px solid color(primary-color);
            border-bottom-left-radius: 60%;
            border-bottom-right-radius: 60%;
            display: inline;
            background: linear-gradient(to right, white , color(secondary-color) 90%);;
        }
    }
}

.footer-1_bottom {

}

.input {
    input{
        width: 80%;
        height: s(2);
        font-size: 1em;
        border-radius: 0;
    }
    
    button {
        width: 20%;
        height: s(2);
    }
}

.footer-2 {
     background-color: rgb(54, 52, 52);
     ol {
        width: s(10);
     }
};

