// main image wra
// TESTING TRANSITIONS
.main-image_container .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.main-image_container:hover .hidden {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}


.main-image_container {
    margin-top: 6em;
    background-image: url(./images/mainImage.jpg);
    background-size: cover;
    background-position: left bottom;
    padding-top: 80px;
    height: 40em;
    @include flex(column);
}

// .hidden {
//     visibility: hidden;;
//     :hover{
//         background-color: black;
//         visibility: visible;
//     }
// }


.main-image_container form {
    @include box;
    @include flex(column);
    align-items: flex-start;
    max-width: 450px;
    // margin-top: auto;
    padding: 10px;
    background-color: grey;
    opacity: 0.5;

    label {
        color: color(primary-color);
        margin: 1em 0;
    }

    input {
        width: 25em;
        height: 2.5em;
    }
}