

.main-image_container {
    margin-top: s(6.625);
    background-image: url(./images/malta1.jpg);
    background-size: cover;
    background-position: left bottom;
    height: s(50);
    @include tablet {
        margin-top: s(3.5);
    }

    &:hover .hidden {
        visibility: visible;
        opacity: 1;
        transition-duration: 2s; 
    }

    .hidden {
        visibility: invisible;
        opacity: 0;
        transition-duration: 2s;
        backdrop-filter: blur(s(2.5));
        justify-content: space-evenly;
    
        h2 {
            text-align: center;
            font-style: italic;
        }
    }
}

.main-image_container form {
    max-width: s(19);
    background-color: rgba(54, 54, 54, 0.57);
    border-radius: s(1.5);
    box-shadow: 5px 10px 8px 10px black;
    
    input {
        width: s(15);
        height: s(2.5);
    }

    & button:hover {
        opacity: 0.8;
    }
}