.main-image_container {
    margin-top: s(6);
    background-image: url(./images/mainImage.jpg);
    background-size: cover;
    background-position: left bottom;
    width: 100%;
    height: 100vh;
}

.main-image_container .hidden {
    visibility: hidden;
    opacity: 0;
    transition-duration: 2s;
    @include box;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(40px);
        @include flex(column);
        justify-content: center;
}

.main-image_container:hover .hidden {
    visibility: visible;
    opacity: 1;
    transition-duration: 2s;
    
}

.main-image_container form {
    @include box;
    @include flex(column);
    align-items: flex-start;
    max-width: 450px;
    // margin-top: auto;
    padding: 10px;
    background-color: grey;
    // opacity: 0.5;

    label {
        color: color(primary-color);
        margin: 1em 0;
    }

    input {
        width: 25em;
        height: 2.5em;
    }
}