.main-image_container {
    margin-top: s(1);
    @include tablet {
        margin-top: s(0);
    };
    background-image: url(./images/mainImage.jpg);
    background-size: cover;
    background-position: left bottom;
    width: 100%;
    height: 100vh;
}

.main-image_container .hidden {
    visibility: hidden;
    opacity: 0;
    transition-duration: 2s;
    // @include box;
    // margin-bottom: s(2);
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(40px);
    @include flex(column);
    // justify-content: space-evenly;

    h2 {
        color: color(primary-color);
        max-width: 450px;
        font-weight: 600;
        text-align: center;
        font-size: s(2);
        margin-bottom: 64px;
        line-height: 1.5;
        margin-top: 128px;
        // display: block;
        
    }
}


.main-image_container:hover .hidden {
    visibility: visible;
    opacity: 1;
    transition-duration: 2s;
    
}

.main-image_container form {
    @include box;
    @include flex(column);
    align-items: flex-start;
    max-width: 300px;
    // margin-top: auto;
    padding: 16px;
    opacity: 0.7;
    background-color: grey;
    border-radius: 20px;
    box-shadow: 5px 10px 8px 10px;
    // opacity: 0.5;
    h4 {
        color: color(primary-color);
        font-size: s(2);
        font-weight: 600;
    }
    label {
        color: color(primary-color);
        margin: 2em 0;
    }

    input {
        width: 15em;
        height: 2.5em;
    }
}