.main-image_container {
    
    @include tablet {
        margin-top: 69px;
    };
    background-image: url(./images/mainImage.jpg);
    background-size: cover;
    background-position: left bottom;
    width: 100%;
    height: 800px;
}

.main-image_container .hidden {
    // visibility: hidden;
    // opacity: 0;
    transition-duration: 2s;
    // @include box;
    // margin-bottom: s(2);
    width: 100%;
    height: 800px;
    backdrop-filter: blur(40px);
    @include flex(column);
    // justify-content: space-evenly;

    h2 {
        max-width: 450px;
        text-align: center;
        font-size: s(2);
        margin-bottom: s(3);
        line-height: 1.5;
        margin-top: s(3);
        
    }
}

.main-image_container:hover .hidden {
    visibility: visible;
    opacity: 1;
    transition-duration: 2s;
    
}

.main-image_container form {
    max-width: s(19);
    padding: s(2);
    background-color: rgba(54, 54, 54, 0.57);
    border-radius: s(1.5);
    box-shadow: 5px 10px 8px 10px black;
    

    h4 {
        font-size: s(2);
        // font-weight: 600;
    }

    input {
       margin: s(1) 0;
        width: s(15);
        height: s(2.5);
    }

    & button:hover {
        opacity: 0.8;
    }
}