.section2-container {
    width: 80%;
    
    .section2-text p{
        line-height: 1.7;
    }
}


.section3-card_container {
    max-width: s(24);
    @include tablet {
        max-width: 100%;
    }

    .section3-card {
        @include tablet {
           flex-direction: row-reverse;
       }
   
       img{
           border-radius: 50%;
           height: 200px;
           max-width: s(20);
           @include tablet {
               width: 50%;
           }
       }
   
       .section3-card_textContainer {
           @include tablet {
               max-width: 500px; 
           }
       }
   }
}

.section3_article1-bk {
    background-color: rgb(226, 127, 100);
}

.section3_article1-c {
    color: rgb(226, 127, 100);
}

.section3_article2-bk {
    background-color: rgb(151, 165, 166);
}

.section3_article2-c {
    color: rgb(151, 165, 166);
}

.section3_article3-bk {
    background-color: rgb(81, 155, 215);
}

.sectio3_article3-c {
    color: rgb(81, 155, 215);
}
// section 4

.section4-grid {
        @include tablet {
           padding: s(1);
        }
        .section4-card {
            grid-template-columns: 60% auto;
            gap: s(1);
            @include tablet {
                grid-template-columns:1fr;
                grid-template-rows: 1fr auto;
                padding: 0 0 s(0.5) 0;
                @include box;
                border-color: color(smallText-color);
            }

            .card-imag_container {
                overflow: hidden;
            
                img {
                    transition: 5s;
                }
                img:hover {
                    transform: scale(5);
                    transition: 10s;
                
                }
            }

            a:hover {
                color: color(secondary-color);
            }
           
        }
}
