// main image wrap

.main-image_container {
    // padding-top: 100px;
    background-image: url(./images/mainImage.jpg);
    background-size: cover;
    background-position: left bottom;
    height: 30em;
    @include flex(row);
}

.main-image_container form {
    @include box;
    @include flex(column);
    align-items: flex-start;
    max-width: 450px;
    margin: auto;
    padding: 25px;

    label {
        color: color(primary-color);
    }

}