
nav {

    @include tablet{
        @include flex (row);
       }
    .nav-left {
        @include tablet{
            flex: 1;
           }
        h2 {
            @include tablet{
                text-align: left;
                padding-left: s(1);
               }
        }
    }
    
    .nav-right{
        @include tablet{
            flex: 2;
            justify-content: flex-end;
           }

        li {
            span{
                display: none;
                @include desktop{
                 display: inline-block;
                 padding-left: 0.5em;
                }
            }
        }
    }
}