.search {
    max-width: 600px;
    @include box;
    padding: s(1);
    margin: auto;
    @include tablet {
    max-width: 800px;;
    }


    h4 {
        // font-size: ;
        margin-bottom: s(2);
        width: 100%;
    }
}


.search-form {
    // @include box;
    @include tablet{
        // background-color: red;
        display: grid;
        // grid-template-columns: 49% 49%;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2%;
    }
    @include desktop {
        // grid-template-columns: 32% 32% 32%;
        grid-template-columns: 1fr 1fr 1fr;
        // grid-column-gap: 2%;
    }
}

.search-form_input {
    // @include box;
    display: flex;
    flex-direction: column;
    margin-bottom: s(1);
    color: gray;
    
    label {
        margin-bottom: s(01);
    }

    input,
    select {
        height: 50px;
        padding-left: s(1);
        width: 100%;
       
        color: gray;
    }

    input {
 border: 1px solid gray;
    }

    option {
        // height: 50px;
        color: gray;
    }
}

.search-form_input_special {
    @include desktop{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    input {
        margin-bottom: 10px;
    }
}